@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Merriweather:wght@300&display=swap');


.general {
	width: 1440px;
}

header{
	background-color: #E5E000;
	height: 200px;
	}

.name {
	line-height: 200px;
	padding-left: 80px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 50px;
	color: white;
	
}

.img {
	height: 1080px;
	background-image: url(../img/img.png);
}

.nav {
	height: 100px;
	background-color: #E5E000;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	line-height: 100px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}



.article {
	width: 1280px;
	padding-top: 55px;
	padding-bottom: 110px;
	padding-left: 80px;
	
}

.name_2 {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Balsamiq Sans', cursive;
}

.mainText {
	font-size: 23px;
	font-family: 'Merriweather', serif;
	
}

.footer {
	height: 200px;
	background-color:#E5E000;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 205px 46px;
	background-position: 77px 80px;
	color: black;
	}


/*.imgfoot {
	width: 205px;
	height: 46px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	color: black;  
	} */



.rightText {
	font-family: 'Balsamiq Sans', cursive;
	text-align: right;
	line-height: 200px;
	padding-right: 80px;
	font-size: 50px;
	color: white;
}

