/*@import url(reset.css);*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
	box-sizing: border-box;	
	padding: 0rem;
	margin: 0rem;
}

html {
	font-size: 10px;
}

body{
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 144rem;
}

.header {
	height: 6rem;
	background-color: #FE1A19;
}

.recipe {
	color: white;
	line-height: 6rem;
	padding-left: 2rem;
}

.menu {
	text-align: center;
}

.dessert {
	width: 40rem;
	border: 5px #E5E000 solid;
	border-radius: 3rem;
	display: inline-block;
	text-align: left;
	padding: 3.3rem;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;	
	padding-bottom: 4.1rem;
}

.text {
	line-height: 2.3rem;
}

ul {
   list-style-type: none;
}


h3{
	text-transform: uppercase;	
	font-weight: normal;
}

h3~h3 {
	margin-top: 2rem;
}


.second {
	margin: 5.2rem 5rem; 
}

.footer {
	height: 6rem;
	background-color: #FE1A19
}

.copyright {
  	width: 48.5%;
  	color: white;
 	line-height: 6rem;
	padding-left: 2rem;
	display: inline-block;
	text-align: left;
}

a {
	width: 48.5%;
	text-decoration: none;
	color: white;
	line-height: 6rem;
	display: inline-block;
	font-size: 2rem;
	text-align: right;
}

