@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Noto+Serif+TC&display=swap');

* {
box-sizing: border-box;	
}

body{
	font-size: 20px;
	
}

.wrapper {
	width: 1440px;
}

.header {
	height: 60px;
	background-color: #FE1A19;
}

.recipe {
	color: white;
	line-height: 60px;
	padding-left: 20px;
}

.menu {
	text-align: center;
}

.dessert {
	width: 400px;
	height: 800px;
	border: 5px #E5E000 solid;
	border-radius: 30px;
	display: inline-block;
	text-align: left;
	padding: 33px;
}

h1 {
	font-size: 22px;
	font-weight: 600;	
	padding-bottom: 41px;
}

.text {
	line-height: 23px;
	/*font-family: 'Noto Serif TC', serif;*/
}

ul {
   list-style-type: none;
}


h3{
	text-transform: uppercase;	
}

h3~h3 {
	margin-top: 20px;
	text-transform: uppercase;
}


.second {
	margin: 52px 50px; 
}

.footer {
	height: 60px;
	background-color: #FE1A19
}

.copyright {
  	width: 48.5%;
  	color: white;
 	line-height: 60px;
	padding-left: 20px;
	display: inline-block;
	text-align: left;
}

a {
	width: 48.5%;
	text-decoration: none;
	color: white;
	line-height: 60px;
	display: inline-block;
	font-size: 20px;
	text-align: right;
}

